

.chimpymain{
display: flex;
flex-direction: column;
align-items: center;
border-bottom: 3px black solid ;

}



a{
    text-decoration: none;
    color: blue;
}

p{
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* about */
.netlify{
    margin-left: 6vw;
    text-decoration: none;
    color: blue;
}

.mainskiskit {
    display: flex;
    flex-direction: column;
    border: 3px black solid;
    gap: 10px;
    margin-top: 9vw;
    margin-left: 22vw;

  }
.mainskiski{
    display: flex;
    flex-direction: row;
    gap: 10px;
   
}
.imgmain{
    width: 15vw;
}

.imgabout{
    width: 40px;
}

.imgg{
    width: 30px;
    height: 30px;
}
.imggg{
    width: 70px;
    height: 70px;
}

h2{
 font-size: 20px;
}

.ImgHeader{
height: 100px;
width: 110px;
}

.HeaderContainer{
    display:flex;
    flex-direction: row;
    padding: 25px;
    justify-content: space-between;
}
.textHeader{
    font-size: 1.5vw;
  color: #034f84;
 
}

.chimpySpan{
    color: black;
}

.chimpyLeftSideHeader{
    display: flex;
   
}

.HeaderCenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    
    
}

.HeaderA{
    display: none;
    text-decoration: none;
    color: red;
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.iconHeader{
    width: 30px;
}


.highlight{
    display: block;
}

@media (max-width: 700px) {
 
    .textHeader{
        font-size: 3.5vw ;
      color: #840344;
      padding: 25px;
    }
  }